SpaceAfterTemplateKeyword: 'false'
AllowShortBlocksOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: All
AlwaysBreakBeforeMultilineStrings: 'true'
AlwaysBreakTemplateDeclarations: 'true'
BreakBeforeBraces: Allman
SpaceBeforeCpp11BracedList: 'true'
ColumnLimit: '90'
AccessModifierOffset: '-4'
Cpp11BracedListStyle: 'false'
IndentCaseLabels: 'true'
IndentWidth: '4'
Language: Cpp
MaxEmptyLinesToKeep: '2'
NamespaceIndentation: None
PointerAlignment: Left
SpaceBeforeAssignmentOperators: 'true'
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: 'false'
SpacesInAngles: 'false'
SpacesInContainerLiterals: 'true'
SpacesInParentheses: 'false'
Standard: Auto
TabWidth: '4'
UseTab: Never
